@tailwind base;

@layer base {
    html {
        @apply text-fg bg-bg scroll-smooth;
    }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Gradient */
    .custom-gradient {
        --angle: 0deg;
        --border-width: 4px;

        border-image: linear-gradient(
                var(--angle),
                #ea6962 0%,
                #e78a4e 20%,
                #a9b665 40%,
                #89b482 60%,
                #7daea3 80%,
                #d3869b 100%
            )
            1;
        animation: 10s rotate linear infinite;
    }

    @keyframes rotate {
        to {
            --angle: 360deg;
        }
    }

    @property --angle {
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    /* Side Gradient */
    .side-gradient {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        right: calc(100% - var(--border-width));
        border-right: var(--border-width) solid;
    }

    /* Down Arrow */

    .floating {
        transform: translateY(0px);
        animation: float 3s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    /* Navigation  */

    .selected-highlight {
        position: relative;
    }

    .selected-highlight::after {
        --size: 20px;
        --line-size: 2px;

        content: "";
        position: absolute;
        top: calc(100% + 1rem + (var(--line-size) / 2));
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: var(--size);
        height: var(--size);
        background-color: white;
        border-radius: 99rem;
        border: 8px solid;
        @apply border-bg;
    }

    /* Awards Timeline */

    .award-element {
        position: relative;
    }
    .award-element::before {
        --award-padding: 1.5rem;

        content: attr(data-semester);
        position: absolute;
        right: calc(100% + var(--award-padding) * 2);
        width: max-content;
    }
    .award-element::after {
        --size: 20px;
        --line-size: 2px;
        --award-padding: 1.5rem;

        content: "";
        position: absolute;
        right: calc(
            100% + var(--award-padding) - (var(--size) / 2) +
                (var(--line-size) / 2)
        );
        top: 0;
        width: var(--size);
        height: var(--size);
        background-color: white;
        border-radius: 99rem;
        border: 8px solid;
        @apply border-bg;
    }

    /* Project Icon Backdrop */

    .icon-backdrop {
        z-index: 0;
    }

    .icon-backdrop::after {
        @apply bg-bg;
        content: "";
        position: absolute;
        width: calc(100% + 4rem);
        aspect-ratio: 1 / 1;
        border-radius: 99rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -25%);
        z-index: -1;
    }

    /* Divider */

    .small-divider::after {
        --size: 20px;
        --line-size: 2px;

        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: var(--size);
        height: var(--size);
        background-color: white;
        border-radius: 99rem;
        border: 8px solid;
        @apply border-bg;
    }
}
